body{
    font-family: "Teko", sans-serif;
    padding: 0;
    margin: 0;
    background-image: linear-gradient(orange, red, yellow, blue, hotpink);
}
div#main{
    width: 40%;
    margin: 10px auto 0 auto; 
}
div#signform{
    background-color: rgb(62, 55, 58);
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid rgb(57, 6, 31);
    box-shadow: inset 0px -4px 11px 10px #fff;
    color: #fff;
}
form#formid{
    margin: 40px;
}

label.formlabel{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-style: italic;
    
}
input.formradio{
    /* width: 211px; */
    border: 1px solid black;
}
input.formlabel{
    font-size: 18px; 
    width: 100%;
}
textarea.formlabel{
    width: 100%;
}
 button{
    width: 30%;
    padding: 10px;
    margin-top: 10px;
    background-color: orangered;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    border: 2px solid rgb(201, 62, 178);
 }

 select.formlabel{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    font-size: 17px;
    color: black;
 }
 